<html>
	<body BGCOLOR="#ecefdc">
		<table>
			<th ALIGN = "CENTER">Common Name</th>
			<th ALIGN = "CENTER">Facility Code</th>

			{% for facility in faclist %}

			<tr>
			<td>{{ facility[0] }}</td>
			<td>{{ facility[1] }}</td>
			</tr>

			{% endfor %}
		</table>
		<form action="/add_facility" method="POST">
			<label><b>Facility's Common Name:</b></label>
			<input type="text" name="common" required />
			<label><b>Facility Code:</b></label>
			<input type="text" name="fcode" maxlength="6" required />
			<input type="submit" value="Add Facility" />
		</form>
		<form action="/dashboard" method="GET">
			<input type="submit" value="Go To Dashboard"/>
		</form>
		<form action="/logout" method="GET">
			<input type="submit" value="End Session"/>
		</form>	
	</body>
</html>
