<html>
	<body BGCOLOR="#ecefdc">
		<h2>
			Enter desired username and password to create user:
		</h2>
		<form action="/create_user" method = "POST">
			<label><b>Username</b></label>
			<input type="text" name="username" required/>
			<label><b>Password</b></label>
			<input type="password" name="password" required/>
			<label><b>Role</b></label>
			<select name="role">
				<option value = "Logistics">Logistics Officer</option>
				<option value = "Facilities">Facilities Officer</option>
			</select>
			<input type="submit" value="Create User"/>
		</form>
	</body>
</html>
