<html>
	<head>
		<title>{{ username }}'s LOST Dashboard</title>
	</head>
	<body BGCOLOR="#ecefdc">
		<h2>
			Welcome to {{ username }}'s Dashboard!
		</h2>
		<h2>
			You are a {{ role }}.
		</h2>
		<form action="/add_facility" method='GET'>
			<input type="submit" value="Go to Add Facility page" />
		</form>
		<form action="/add_asset" method='GET'>
			<input type="submit" value="Go to Add Asset page" />
		</form>
		<form action="/asset_report" method='GET'>
			<input type="submit" value="Go to Asset Report page" />
		</form>
		<form action="/transfer_report" method='GET'>
			<input type="submit" value="Go to Transfers Report page" />
		</form>

		{% if role == 'Logistics Officer' %}
		<form action="/dispose_asset" method='GET'>
			<input type="submit" value="Go to Asset Disposal Page" />
		</form>
		<form action="/transfer_req" method='GET'>
			<input type="submit" value="Go to Transfer Request Page" />
		</form>

		<table>
			<th>Asset Tag</th>
			<th>Transfer Request</th>
			{% for request in requests %}
			<tr>
				<td>{{ request[0] }}</td>
				<td><a href="{{ url_for('update_transit') }}?req_num={{ request[1] }}">Request #{{ request[1] }}</a></td>
			</tr>
			{% endfor %}
		</table>
				{% endif %}

		{% if role == 'Facilities Officer' %}
		<table>
			<th>Asset Tag</th>
			<th>Transfer Request</th>
			{% for request in requests %}
			<tr>
				<td>{{ request[0] }}</td>
				<td><a href="{{ url_for('approve_req') }}?req_num={{ request[1] }}">Request #{{ request[1] }}</a></td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}

		<form action="/logout" method='GET'>
			<input type="submit" value="End Session" />
		</form>
	<body>
</html>
