<html>
	<head>
		<title>LOST Transfers Report Page</title>
	</head>
	<body BGCOLOR="#ecefdc">
		<form action='/transfer_report' method='POST'>
			<label><b>Report On Date:</b></label>
			<input type="date" name="req_date" required />
			<input type="submit" value = "Request Report" />
		</form>
		<form action='/dashboard' method='GET'>
			<input type='submit' value='Go to Dashboard' />
		</form>
		<form action='/logout' method='GET'>
			<input type='submit' value='End Session' />
		</form>
	</body>
</html>
