<html>
	<head>
		<title>LOST Transfers Report Page</title>
	</head>
	<body BGCOLOR="#ecefdc">
		<form action='/transfer_report' method='POST'>
			<label><b>Report On Date:</b></label>
			<input type="date" name="req_date" required />
			<input type="submit" value = "Request Report" />
		</form>
		<label><b>In Transit Report For {{ rep_date }}</b></label>
		<table BORDER="5">
			<th ALIGN="CENTER">Request #</th>
			<th ALIGN="CENTER">Asset Tag</th>
			<th ALIGN="CENTER">Departed From</th>
			<th ALIGN="CENTER">Departed On</th>
			<th ALIGN="CENTER">Departure Set By</th>
			<th ALIGN="CENTER">Destination</th>
			<th ALIGN="CENTER">Arrived On</th>
			<th ALIGN="CENTER">Arrival Set By</th>

			{% for row in info %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td>{{ row[2] }}</td>
				<td>{{ row[4] }}</td>
				<td>{{ row[6] }}</td>
				<td>{{ row[3] }}</td>
				<td>{{ row[5] }}</td>
				<td>{{ row[7] }}</td>
			</tr>
			{% endfor %}
		</table>
		<form action='/dashboard' method='GET'>
			<input type='submit' value='Go to Dashboard' />
		</form>
		<form action='/logout' method='GET'>
			<input type='submit' value='End Session' />
		</form>
	</body>
</html>
