<!doctype html>
<html>
	<head>
		Main Reports Page
	</head>
	<body BGCOLOR="#ecefdc"><h2>This is the Place to Select Facility Inventory or In-Transit 
Listing</h2>

	<form name="Facility_Choice" action="/facility_report" method="POST">
		<select name="facility_name">
			<option value="Washington, D.C.">Washington, D.C.</option>
			<option value-"MB 005">MB 005</option>
			<option value="Los Alamos, NM">Los Alamos, NM</option>
		</select>

		<select name="date">
			<option value="1/4/2017">1/4/2017</option>
			<option value="1/6/2017">1/6/2017</option>
		</select>
		
		<input type="submit" value = "Fetch Inventory!"/>
	</form>

	<form action="/transit_report" method="POST">
		<select name="date">
			<option value="1/4/2017">1/4/2017</option>
			<option value="1/6/2017">1/6/2017</option>
		</select>
		<input type="submit" value="Fetch In Transit!"/>
	</form>

	</body>
</html>
