<!doctype html>
<html>
	<head>
		Main Reports Page
	</head>
	<body BGCOLOR="#ecefdc"><h2>This is the Place to Select Facility Inventory or In-Transit 
Listing</h2>

	<form name="Facility_Choice" action="/facility_report" method="POST">
		<select name="Facility_Choice">
			<option value="DC">Washington, D.C.</option>
			<option value="LA">Los Alamos, NM</option>
		</select>
		<button type="submit">Fetch Inventory!</button>
	</form>

	<form action="/transit_report" method="POST">
		<select name="date">
			<option value="1/4/2017">1/4/2017</option>
			<option value="1/6/2017">1/6/2017</option>
		</select>
		<input type="submit" value="Fetch In Transit!"/>
	</form>

	</body>
</html>
