<!doctype html>
<html>
	<head>
		Main Reports Page
	</head>
	<body BGCOLOR="#ecefdc"><h2>This is the Place to Select Facility Inventory or In-Transit 
Listing</h2>

	<form name="Facility_Choice" action="/facility_report" method="POST">
		<select name="facility_name">
			{% for facility in faclist  %}
			<option value={{ facility }}>{{ facility }}</option>
			{% endfor %}
		</select>

		<select name="day">
			
			<option value="1/4/2017">1/4/2017</option>
			<option value="1/6/2017">1/6/2017</option>
		</select>

		<select name="month">

		</select>

		<select name="year">

		</select>
		
		<input type="submit" value = "Fetch Inventory!"/>
	</form>

	<form action="/transit_report" method="POST">
		<select name="date">
			<option value="1/4/2017">1/4/2017</option>
			<option value="1/6/2017">1/6/2017</option>
		</select>
		<input type="submit" value="Fetch In Transit!"/>
	</form>

	<form action="/logout" method="POST"/>
		<input type="submit" value="Logout"/>	
	</form>
	</body>
</html>
